{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="col">
    <h1 class="display-3 mb-4"><b>Гарантия</b></h1>
    <p>
        На все товары, приобретенные в сети 2WHEELS, предоставляется гарантия, которая дает право на проведение
        бесплатного
        ремонта в течение гарантийного периода, при условии соблюдения правил эксплуатации. Срок гарантии Вашего товара
        указан в гарантийном талоне или иных документах, прилагаемых к товару. Для осуществления услуги бесплатного
        гарантийного обслуживания необходимы гарантийный талон и документ, подтверждающий факт покупки (кассовый чек /
        акт приема-передачи / расходная накладная). В случае отсутствия у Вас этих документов - позвоните, пожалуйста,
        по телефону горячей линии: 8-800-555-35-35 - мы рассмотрим Ваш вопрос и предложим решение.
    </p>
    <h1 class="display-4 mt-4 mb-4"><b>Эвакуация транспортного средства</b></h1>
    <p>
        Ознакомьтесь, пожалуйста, с сопроводительной эксплуатационной документацией на товар, который требует
        дополнительной установки (монтажа), с указанными особенностями его ввода в эксплуатацию, использования и
        обслуживания. Некоторые товары требуют обязательного вызова специалиста авторизованного сервисного центра для
        монтажа и гарантийного обслуживания товара. Пожалуйста, будьте внимательны, так как нарушение правил ввода в
        эксплуатацию, использования и обслуживания может стать основанием для отказа в гарантийном обслуживании Вашего
        товара. Гарантийное обслуживание такого товара осуществляется по месту его эксплуатации путем вызова по телефону
        специалиста авторизованного сервисного центра.
    </p>
    </div>
    <div class="col text-center">
        <img src="/static/img/evacuation.png">
    </div>
</div>

{% endblock %}