{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    <h1 class="display-4 pb-3" style="border-bottom: #b3b7bb 2px solid"><b>Оплата</b></h1>
    <p>Вы можете оплатить заказ картой − онлайн или при получении в точке выдачи.

    <p>Чтобы оплатить картой в магазине: во время того, как с вами свяжеться менеджер для подтверждения заказа, укажите
        желаемый способ оплаты.</p>
    <ul>
    <h1 class="display-4">Чтобы оплатить заказ онлайн:</h1>
    <ul class="mb-2">
        <li>Добавьте товар в корзину и перейдите к оформлению заказа.</li>
        <li>Выберите желаемую точку выдачи товара из списка.</li>
        <li>Завершите оформление заказа.</li>
        <li>Дождитесь звонка менеджера для подтверждения заказа.</li>
        <li>После подтверждения заказа у менеджера вы получите письмо на почту с ссылкой на сервис безопасной оплаты.
        </li>
        <li>Оплатите товар полностью либо внесите оговоренную предоплату.</li>
    </ul>
    <p>Для успешной оплаты, карта должна поддерживать сервис 3d secure.</p>
    <p>Также вы можете оплатить заказ картой через Google Pay или PrivatPay.</p>
    <p><b>Обратите внимание:</b> чтобы забрать заказ, оплаченный онлайн, нужно предъявить документ, удостоверяющий личность.</p>
    </ul>
</div>

{% endblock %}