{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="card text-center" style="max-width: 30rem; margin: 0 auto; box-shadow: 2px 4px 5px #23272b">
  <h5 class="card-header">Сменить пароль</h5>
  <div class="card-body">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action" class="btn btn-primary mt-2" style="width: 10rem">Сменить пароль</button>
    </form>
  </div>
</div>
{% endblock %}
